body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.categoriesDisplay:hover{
  cursor: pointer;
}
.fa-solid:hover{
  color:red;
}
.category-items-css:hover{
  color: skyblue
}

.card:hover{
  cursor: pointer;
}

.add-detail-in-add-new-product-css:hover{
  cursor: pointer;
}